body,div,h1,h2,h3,h4,h5,h6,input,header,main,ul,li,footer,p,span,section{
    padding: 0;
    margin: 0;
}
html,body{
    height: 100%;
    min-width: 960px;
}
body{
    background: url(images/bg.jpg) no-repeat;
    font-size: 14px;
    font-family: "microsoft yahei";
    -webkit-background-size: 100%;
    background-size: 100%;
    color: #222;
}
header{
    height: 50px;
    padding-left: 80px;
    background: rgba(100, 100, 100, 0.6);
}
h1{
    padding-right: 30px;
    line-height: 50px;
    font-size: 30px;
    float: left;
}
#weather_search{
    margin-top: 10px;
    float: left;
}
#weather_search span{
    height: 30px;
    float: left;
}
#text{
    padding: 0 6px 0 6px;
    background: #fff;
    font-size: 14px;
    width: 240px;
    height: 30px;
    border: none;
    outline: none;
}
#btn{
    width: 70px;
    height: 30px;
    border: none;
    background: rgba(255,255,255,0.5);
    color: #333;
    outline: none;
    cursor: pointer;
}
#btn:hover{
    background: rgba(255, 255, 255, 0.3);
}
section{
    padding-top: 90px;
}
#today_container{
    width: 900px;
    margin: 0 auto;
    padding: 20px;
    background: rgba(100,100,100,0.3);
    overflow: hidden;
}
#today_container div img {
    margin: 0 50px 0 40px;
    float: left;
}
 .main_info{
    font-size: 24px;
    margin-bottom: 10px;
}
 .main_info span{
    margin: 0 15px;
}
 .main_info span:first-child{
    margin-left: 0;
}
 .more_info {
    margin-top: 3px;
    font-size: 16px;
}
 .more_info span{
    margin: 0 15px 0 0;
}
#future_container{
    margin: 80px auto 0 auto;
    width: 950px;
    text-align: center;
    overflow: hidden;
}
#future_container div{
    float: left;
    width: 150px;
    padding: 20px 0;
    margin: 0 20px;
    background: rgba(100, 100, 100, 0.3);
}
#future_container div:hover{
    background: rgba(200,200,200,0.5);
}
#future_container div span{
    display: block;
}
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}
footer div{
    width: 175px;
    margin: 0 auto;
}