<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wangjiangfei.dao.RoleDao">

    <resultMap id="BaseResultMap" type="com.wangjiangfei.entity.Role">
        <result column="role_id" property="roleId" jdbcType="INTEGER" />
        <result column="role_name" property="roleName" jdbcType="VARCHAR" />
        <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    </resultMap>

    <select id="getRoleByUserId" resultMap="BaseResultMap">
        SELECT
            t_role.role_id,
            t_role.role_name,
            t_role.remarks
        FROM
            t_role
            LEFT JOIN t_user_role ON t_user_role.role_id = t_role.role_id
        WHERE
            t_user_role.user_id = #{userId}
    </select>

    <select id="getRoleByRoleIdUserId" resultMap="BaseResultMap">
        SELECT
            t_role.role_id,
            t_role.role_name,
            t_role.remarks
        FROM
            t_role
            LEFT JOIN t_user_role ON t_user_role.role_id = t_role.role_id
        WHERE
            t_user_role.role_id = #{roleId}
            AND t_user_role.user_id = #{userId}
    </select>

    <select id="getRoleList" resultMap="BaseResultMap">
        SELECT
            t_role.role_id,
            t_role.role_name,
            t_role.remarks
        FROM
          t_role
        <where>
            <if test="roleName != null and roleName != ''">
                t_role.role_name LIKE CONCAT('%', #{roleName} ,'%')
            </if>
        </where>
        LIMIT #{offSet}, #{pageRow}
    </select>

    <select id="getRoleCount" resultType="java.lang.Integer">
        SELECT
          COUNT(*)
        FROM
          t_role
        <where>
            <if test="roleName != null and roleName != ''">
                t_role.role_name LIKE CONCAT('%', #{roleName} ,'%')
            </if>
        </where>
    </select>

    <select id="findRoleByName" resultMap="BaseResultMap">
        SELECT
            t_role.role_id,
            t_role.role_name,
            t_role.remarks
        FROM
            t_role
        WHERE
            t_role.role_name = #{roleName}
    </select>

    <insert id="insertRole" useGeneratedKeys="true" keyProperty="roleId" parameterType="com.wangjiangfei.entity.Role">
        INSERT INTO t_role
        (role_name, remarks)
        VALUES (#{roleName}, #{remarks})
    </insert>

    <update id="updateRole" parameterType="com.wangjiangfei.entity.Role">
        UPDATE t_role
        SET
        role_name = #{roleName}
        <if test="remarks != '' and remarks != null">
            , remarks = #{remarks}
        </if>
        WHERE role_id = #{roleId}
    </update>

    <select id="countUserByRoleId" resultType="java.lang.Integer">
        SELECT
            COUNT( * )
        FROM
            t_user_role
        WHERE
            role_id = #{roleId}
    </select>

    <select id="getRoleById" resultMap="BaseResultMap">
        SELECT
            t_role.role_id,
            t_role.role_name,
            t_role.remarks
        FROM
            t_role
        WHERE
            role_id = #{roleId}
    </select>

    <delete id="deleteRole" parameterType="java.lang.Integer">
        DELETE FROM
          t_role
        WHERE role_id = #{roleId}
    </delete>

    <select id="findAll" resultMap="BaseResultMap">
        SELECT
            t_role.role_id,
            t_role.role_name,
            t_role.remarks
        FROM
            t_role
    </select>

</mapper>
