<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wangjiangfei.dao.RoleDao">

    <resultMap id="BaseResultMap" type="com.wangjiangfei.entity.Role">
        <result column="role_id" property="roleId" jdbcType="INTEGER" />
        <result column="role_name" property="roleName" jdbcType="VARCHAR" />
        <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    </resultMap>

    <select id="getRoleByUserId" resultMap="BaseResultMap">
        SELECT
            t_role.role_id,
            t_role.role_name,
            t_role.remarks
        FROM
            t_role
            LEFT JOIN t_user_role ON t_user_role.role_id = t_role.role_id
        WHERE
            t_user_role.user_id = #{userId}
    </select>

</mapper>
